<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultEventsIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
          <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
            <indexAllFields>false</indexAllFields>
            <include hint="list:AddIncludedTemplate">
              
              <!--Include templates in the index-->
              <TaskDetails>{3606EE62-7048-4136-89B4-D4BEAC3B5806}</TaskDetails> 
            </include>
            <include hint="list:AddIncludedField">
            
              <!--Include fields in the index-->
              <TaskDescription>{25239693-1968-4C38-AA81-3E5417AB0E9C}</TaskDescription>
              <TaskCategory>{D2106BAA-D95D-4DE5-8984-081B30E2EC1F}</TaskCategory>
              <TaskDueDate>{F22B54EC-DCC2-4CCB-BF30-EA9DDB9F85FF}</TaskDueDate>
              <TaskStatus>{BCE9A0E8-3330-4A71-A489-9280AADC9EB0}</TaskStatus>
              <TaskDetails>{2085C5DC-EA04-43DF-89D8-FD23088DCA28}</TaskDetails>
            </include>
            <!-- <fields hint="raw:AddComputedIndexField"> -->
            <!--   <field fieldName="urllink">TAC.Utils.Search.UrlComputedField, TAC.Utils</field> -->
            <!-- </fields>             -->
          </documentOptions>
          <initializeOnAdd>false</initializeOnAdd>
          <fieldMap type="Sitecore.ContentSearch.SolrProvider.SolrFieldMap, Sitecore.ContentSearch.SolrProvider">
            <!--<typeMatches hint="raw:AddTypeMatch" ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap/typeMatches/*"/>-->
            <typeMatches hint="raw:AddTypeMatch">
              <typeMatch typeName="text" type="System.String" fieldNameFormat="{0}_t" cultureFormat="_{1}" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <typeMatch typeName="datetime" type="System.DateTime" fieldNameFormat="{0}_tdt" format="yyyy-MM-dd'T'HH:mm:ss.FFF'Z'" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <typeMatch typeName="string" type="System.String" fieldNameFormat="{0}_s" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
            </typeMatches>
            <fieldNames hint="raw:AddFieldByFieldName">
              <!-- how fields are indexed -->
              <field fieldName="TaskDescription" returnType="text"/>
              <field fieldName="TaskDetails" returnType="text"/>
              <field fieldName="TaskStatus" returnType="text"/>
              <field fieldName="TaskCategory" returnType="text" />
              <field fieldName="TaskDueDate" returnType="datetime" format="yyyy-MM-dd'T'HH:mm:ss'Z'" />
              <!-- Add your field configuration here -->
            
            </fieldNames>

          </fieldMap>
          <!-- **** Inherited default configuration **** -->
          <fieldReaders ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldReaders" />
          <indexFieldStorageValueFormatter ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/indexFieldStorageValueFormatter" />
          <indexDocumentPropertyMapper ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/indexDocumentPropertyMapper" />
          <documentBuilderType ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/documentBuilderType" />

        </defaultEventsIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>