<script src="~/Scripts/Todo/itemservice.min.js"></script>
<script src="~/Scripts/Todo/EditItemTask.js"></script>
<form onsubmit="editItemTask(this,'/sitecore/content/TODO/Home/MyTasks')">
    <div class="form-group">
        <h3>@Html.Sitecore().Field("contentheading")</h3>
        <!-- Description -->
        <label for="description" class="control-label">Description</label>
        <input type="text" class="form-control" id="description" name="description" placeholder="John Deer">
    </div>
    <div class="form-group">
        <!-- Details -->
        <label for="details" class="control-label">Details</label>
        <textarea type="text" class="form-control" id="details" name="details" placeholder="details"></textarea>
    </div>
    <div class="form-group">
        <!-- State Button -->
        <label for="statusId" class="control-label">Status</label>
        <select class="form-control" name="statusId" id="statusId">

        </select>
    </div>
    <div class="form-group">
        <!-- State Button -->
        <label for="categoryId" class="control-label">Category</label>
        <select class="form-control" name="categoryId" id="categoryId">

        </select>
    </div>

    <div class="form-group">
        <!-- Due Date-->
        <label for="duedate" class="control-label">Due Date</label>
        <input type="date" class="form-control" id="duedate" name="duedate" placeholder="#####">
    </div>

    <div class="form-group">
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Add new task</button>
    </div>
</form>



