@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<table id="allTasks" class="display" width="100%"></table>
<script src="~/Scripts/Todo/moment.js"></script>
<script src="~/Scripts/Todo/alltasks.js">

</script>

