@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
<script src="~/Scripts/Todo/deleteTask.js">

</script>
<div class="jumbotron">
<p id="deleteStatus" class="text-success"></p>
</div>