@model Sitecore.Education.TodoManager.Models.TaskList
@using (Html.BeginForm())
{
    <div class="form-inline">
        <div class="form-group mb-2">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail2" placeholder="search for task">
        </div>
        <button type="submit" class="btn btn-primary mb-2">search</button>
    </div>
}



