@using Sitecore.Data.Items
<script src="~/Scripts/Todo/itemservice.min.js"></script>
<script src="~/Scripts/Todo/createTask.js"></script>
<form onsubmit="createTaskItem(this,'/sitecore/content/TODO/Home/MyTasks')">
    <div class="form-group">
        <!-- Description -->
        <label for="description" class="control-label">Description</label>
        <input type="text" class="form-control" id="description" name="description" placeholder="John Deer">
    </div>
    <div class="form-group">
        <!-- Details -->
        <label for="details" class="control-label">Details</label>
        <textarea type="text" class="form-control" id="details" name="details" placeholder="details"></textarea>
    </div>
    <div class="form-group">
        <!-- State Button -->
        <label for="statusId" class="control-label">Status</label>
        <select class="form-control" name="statusId" id="statusId">
            @{
                var statuses = ViewBag.Status;
                foreach (Item status in statuses)
                {
                    <option value="@status.Name">@status.Name</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <!-- State Button -->
        <label for="categoryId" class="control-label">Category</label>
        <select class="form-control" name="categoryId" id="categoryId">
            @{
                var categories = ViewBag.Category;
                foreach (Item category in categories)
                {
                    <option value="@category.Name">@category.Name</option>
                }
            }
        </select>
    </div>

    <div class="form-group">
        <!-- Due Date-->
        <label for="duedate" class="control-label">Due Date</label>
        <input type="date" class="form-control" id="duedate" name="duedate" placeholder="#####">
    </div>

    <div class="form-group">
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Add new task</button>
    </div>
</form>


