@model Sitecore.Education.TodoManager.Models.TaskList
<div class="list-group">
    @foreach (var item in Model)
    {
        <a href="@item.Url" class="list-group-item list-group-item-action flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@item.Description</h5>
            </div>
        </a>
    }
</div>

