@model Sitecore.Education.TodoManager.Models.TaskList
    <div class="container">
        <h2>All Tasks</h2>
        <div class="list-group">
            @foreach (var item in Model)
            {
                <div class="list-group-item">
                    <h5 class="mb-1">@item.Name</h5>
                    <small>@item.Status</small>
                    <small>@item.Category</small>
                    <small>Due date: @item.DueDate</small>
                </div>
            }
        </div>
</div>